<!-- Main Application Window -->
<html>
    <head>
        <title>{{ TitlePage }}</title>

        <!-- JQuery Libraries -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <!-- Mapping APIs -->
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <!-- Build the External Toolbars -->
        <script>
    		$( document ).on( "pagecreate", function() {
			    $( "body > [data-role='panel']" ).panel();
		    	$( "body > [data-role='panel'] [data-role='listview']" ).listview();
	    	});
    		$( document ).one( "pageshow", function() {
		    	$( "body > [data-role='header']" ).toolbar();
	    		$( "body > [data-role='header'] [data-role='navbar']" ).navbar();
    		});
    	</script>

    </head>
    
    <>



        <!-- Create the Main Page -->
        <div data-role="page" id="main-page">

            <!-- Main External Header -->
            <div data-role="header" data-position="fixed" data-theme="a">
  		        <h1> {{ TitleName }} </h1>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#" class="ui-btn-active ui-state-persist">Main Window</a></li>
                        <li><a href="configure">Configuration</a></li>
                        <li><a href="#Sidebar">Options</a></li>
                    </ul>
                </div>
            </div><!-- /header -->

            <!-- Main Content -->
        	<div role="main" class="ui-content" id="map-page" >

                <!-- Main Status Window -->


    	    </div><!-- /content -->

	        <div data-role="footer">
    		    <h4>{{ TitleName }}</h4>
	        </div><!-- /footer -->




            <!-- Main Toolbar -->
            <div data-role="panel" id="Sidebar" data-position="left" data-theme="b">

                <h3>Options</h3>
                <ul data-role="listview">
                    <li>
                        <a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
                    </li>
                </ul>

            </div><!-- /SidePanel -->

        </div>

    </body>

</html>